MONGO_URI=mongodb://127.0.0.1:27017/e_invite
JWT_SECRET=change_this_secret
PORT=5000
CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:8080
GOOGLE_CLIENT_ID=954385897484-mvsr9ocebf559dl1b9v7rfvvu4unfqbr.apps.googleusercontent.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=amuletarmenia@gmail.com
SMTP_PASS=odza owhh uyhk fecq
AMULET_EMAIL_FROM="Amulet <amuletarmenia@gmail.com>"
